[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/unifap-v2"]
	path = lib/unifap-v2
	url = https://github.com/dsam82/unifap-v2
[submodule "lib/sol-tuts"]
	path = lib/sol-tuts
	url = https://github.com/dsam82/sol-tuts
